<div class="main-container" [ngClass]="{'item-shown':itemClicked}">
  <div class="items-section" *ngIf="itemsLoaded" (scroll)="onScroll($event)">
    <div class="header">Items</div>
    <div class="list-item" *ngFor="let item of items" (click)="loadItem(item.id)">
      <div class="image">
        <img src="{{item.thumb}}" alt="item thumb">
      </div>
      <div class="title">{{item.title}}</div>
    </div>
  </div>
  <div class="back-button" (click)="back()">
    {{'back to items'}}
  </div>
  <div class="item-details-container">
    <div class="loader-container" *ngIf="showItemLoader">
      <div class="loader"></div>
    </div>
    <div class="item-section" *ngIf="(currentItem | json) !== '{}' && currentItem !== undefined">
      <div class="item-title">{{currentItem.title}}</div>
      <div class="item-image"><img alt="item picture" src="{{currentItem.picture}}" (load)="imageLoaded()"></div>
      <div class="item-description">{{currentItem.desc}}</div>
    </div>
  </div>
</div>

